.DS_Store
.env
.flaskenv
*.pyc
*.pyo
env
env*
dist
build
*.egg
*.egg-info
_mailinglist
.tox
.cache/
.idea/
.jpg
.png
.tiff
.gif
lib
include
bin
pip-selfcheck.json
.vscode

# Coverage reports
htmlcov
.coverage
.coverage.*
*,cover