<html>
    <head>
      <title>Submit a form</title>
     <link rel="stylesheet" type="text/css" href="/static/style.css">
     <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/4.2.2/jquery.form.min.js" integrity="sha384-FzT3vTVGXqf7wRfy8k4BiyzvbNfeYjK+frTVqZeNDFl8woCbF0CYG6g2fMEFFo/i" crossorigin="anonymous"></script>
     <script>
        $('#X-Progress-ID').val('random string');
          var options = {
            dataType: 'xml',
            url: '/upload?X-Progress-ID='+$('#X-Progress-ID').val(),
            beforeSubmit: showRequest,
            success: showResponse
          }
        $('#img_upload').ajaxSubmit(options);

        $('#img_upload').find('#form_submit_button').append('&lt;span id="uploadprogressbar"&gt;&lt;/span&lt;');
        $('#img_upload').find('#uploadprogressbar').progressBar();

        function showRequest(formData, jqForm, options) {
            // do something with formData
            return True;
        }

        function showResponse(response) {
            // do something with response
        }
      </script>
    </head>
    <body>
      <div id="container">
        <div class="pagetitle">
          <h1>Upload an Image</h1>
        </div>
        <div id="main">
          <form id="img_upload" action="/upload" enctype="multipart/form-data" method="post">
            <label>Image:</label>
            <input type="file" name="img"/>
            <!-- <input type="hidden" id="X-Progress-ID" name="X-Progress-ID" value=""/>
            <input type="hidden" id="id" name="id" value=""/> -->
            <input type="submit" id="form_submit_button" value="Upload Image">
          </form>
        </div>
      </div>
    </body>
  </html>