<html>
    <head>
      <title>Submit a form</title>
     <link rel="stylesheet" type="text/css" href="/static/style.css">
     <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/4.2.2/jquery.form.min.js" integrity="sha384-FzT3vTVGXqf7wRfy8k4BiyzvbNfeYjK+frTVqZeNDFl8woCbF0CYG6g2fMEFFo/i" crossorigin="anonymous">
        $(document).ready(() => {
          $('#img_upload').submit(() => {
            var options = {
              dataType: 'json',
              url: '/upload',
              beforeSubmit: showRequest,
              success: showResponse
            }

            $(this).ajaxSubmit(options);
          })          

          function showRequest(formData, jqForm, options) {
              // do something with formData
              return True;
          }

          function showResponse(response) {
              // do something with response
              console.log(response);
          }
        })
      </script>
    </head>
    <body>
      <div id="container">
        <div class="pagetitle">
          <h1>Upload an Image</h1>
        </div>
        <div id="main">
          <form id="img_upload" action="/upload" enctype="multipart/form-data" method="post">
            <label>Image:</label>
            <input type="file" name="img"/>
            <input type="submit" id="form_submit_button" value="Upload Image">
          </form>
        </div>
      </div>
    </body>
  </html>