<html>
    <head>
      <title>Submit a form</title>
     <link rel="stylesheet" type="text/css" href="/static/style.css">
    </head>
    <body>
      <div id="container">
        <div class="pagetitle">
          <h1>Leave a comment</h1>
        </div>
        <div id="main">
          <!--image upload-->
          <form action="/sign?%s" enctype="multipart/form-data" method="post">
            <div>
              <textarea name="content" rows="3" cols="60"></textarea>
            </div>
            <div><label>Image:</label></div>
            <div><input type="file" name="img"/></div>
            <div><input type="submit" value="Upload Image"></div>
          </form>
          <!--image upload ends
          <form method="post" action="{{ url_for('submitted_form') }}">
            <label for="name">Name:</label>
            <input type="text" name="name"><br />
            <label for="email">Email address:</label>
            <input type="email" name="email"><br />
            <label for="site_url">Website URL:</label>
            <input type="url" name="site_url"><br />
            <label for="comments">Comments:</label>
            <textarea name="comments"></textarea><br />
            <input type="submit">
          </form>
          -->
        </div>
      </div>
    </body>
  </html>